
body{
    background-color: #f11ee0;
    text-align: center;
    padding: 0;
    margin: 0;
    max-height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}

body::-webkit-scrollbar{
    background-color: #F0EBCE;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #c2a7129c;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(224, 34, 34);
  outline: 1px solid rgb(15, 117, 219);
}

h1{
    text-align: center;
    color: #F0EBCE;
}

img{
    border-radius: 10px;
    width: 320px;
    margin: 10px;
}

.image-container{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    margin: 0 auto;
    max-height: 90vh;
    overflow-y: scroll;
}

.image-container::-webkit-scrollbar{
    background-color: #F0EBCE;
    width: 10px;
}

.image-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #f0ebce9c;
}

.image-container::-webkit-scrollbar-thumb {
  background-color: #AA8B56;
  outline: 1px solid slategrey;
}
